/* 
    Document   : admin
    Created on : 14-Feb-2013, 14:00:02
    Author     : Shanwe
    Description:
*/
body {
    font: normal 14px auto;
    color: #4f6b72;
    background: #E6EAE9;
}

.financial-datatable {
    width: auto;
    padding: 0;
    margin: 0;
}

caption {
    padding: 0 0 5px 0;
    width: 700px;	 
    font: italic 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    text-align: right;
}

th {
    font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #4f6b72;
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    border-top: 1px solid #C1DAD7;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    padding: 6px 6px 6px 12px;
    background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}

.admin-financial-tbody { 
    height: 50%;  
    width: auto;
    overflow:scroll;
}

th.nobg {
    border-top: 0;
    border-left: 0;
    border-right: 1px solid #C1DAD7;
    background: none;
}

td {
    border-right: 1px solid #C1DAD7;
    border-bottom: 1px solid #C1DAD7;
    background: #fff;
    padding: 6px 6px 6px 12px;
    color: #4f6b72;
}


td.alt {
    background: #F5FAFA;
    color: #797268;
}

th.spec {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #fff no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

th.specalt {
    border-left: 1px solid #C1DAD7;
    border-top: 0;
    background: #f5fafa no-repeat;
    font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
    color: #797268;
}

.admin-index-main {
    background: center;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    padding-left: 5px;
}

.admin-index-sidebar {
    position: relative;
    background: appworkspace;
    float: left;
    text-wrap: normal;
    list-style: none;
    padding: 5px;
}

.admin-index-header {
    position: relative;
    background: #4f6b72;
}

.admin-index-footer {
    position: absolute;
    background: bottom;
    top: 80%;
    width: 100%;

}

.admin-footer {
    position: absolute;
    background: bottom;
    top: 80%;
    width: 100%;
}
.admin-header {
    position: relative;
    background: #4f6b72;
}
.admin-main {
    background: center;
    position: relative;
    float: left;
    width: auto;
    height: auto;
    padding-left: 5px;
    font-family: cursive;
}
.admin-sidebar {
    position: relative;
    background: appworkspace;
    float: left;
    text-wrap: normal;
    list-style: none;
    padding: 5px;
}

