/* 
    Document   : address
    Created on : 25-Feb-2013, 13:52:20
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/
.checkout-page {

}

.checkout-page #container {
    background: #faf9fc;
    overflow: hidden;
}

.checkout-page h2 {
    margin-bottom: 10px;
}

/**
 * Address section
*/
ul#addresses {
    overflow: hidden;
}

ul#addresses label {
    border: 1px solid rgb(232, 222, 241);
    display: block;
    float: left;
    margin-right: 20px;
    overflow: hidden;
    padding: 10px;
    width: 250px;
}

ul#addresses label:hover {
    background: rgb(232, 222, 241);
    cursor: pointer;
}

ul#addresses .dispatch {
    font-weight: bold;
}

ul#addresses .details {
    margin-left: 5px;
    margin-top: 10px;
}

/**
 * Shopping cart section
*/
#checkout-shopping-cart {
    margin-top: 30px;
}

#checkout-shopping-cart table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
}

#checkout-shopping-cart tbody {
    background: #ffffff;
}

#checkout-shopping-cart .header {
    background: rgb(244, 237, 250);
}

#checkout-shopping-cart th {
    padding: 10px;
}

#checkout-shopping-cart th.product {
    width: 60%;
}

#checkout-shopping-cart th.quantity {
    padding: 10px 3px;
    width: 10%;
}

#checkout-shopping-cart th.price {
    text-align: right;
    width: 20%;
}

#checkout-shopping-cart th.remove {
    width: 10%;
}

#checkout-shopping-cart tbody tr {
    border-bottom: 1px solid rgb(230, 221, 248);
}

#checkout-shopping-cart td {
    padding: 10px 10px;
}

#checkout-shopping-cart .product .title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}

#checkout-shopping-cart .product img {
    float: left;
}

#checkout-shopping-cart td.quantity-cell, 
#checkout-shopping-cart td.quantity, 
#checkout-shopping-cart td.quantity-cell,
#checkout-shopping-cart td.price,
#checkout-shopping-cart td.remove {
    vertical-align: top;
}

#checkout-shopping-cart .quantity-cell {
    padding: 10px 3px;
    width: 20px;
}

#checkout-shopping-cart .quantity {
    padding: 14px 2px;
}

#checkout-shopping-cart .quantity input {
    text-align: right;
    width: 39px;
}

#checkout-shopping-cart td.price {
    text-align: right
}

#checkout-shopping-cart td.remove {
    color: #aa0000;
    cursor: pointer;
    text-align: center; 
}

#checkout-shopping-cart .remove:hover {
    background: #ffe8e8;
}

/**
 * Handle User Details Amend - temp fix for presentation
*/
ul#addresses .label-fix {
    width: 194px;
}

/**
 * Paypal
*/
.paypal-page #container {
    background: #faf9fc;
    overflow: hidden; 
}

.paypal-page img {
    margin-top: 10px;
}

/*
.checkout-page #container {
    background: #faf9fc;
    overflow: hidden;
}

#wrapper-checkout {
    background: #f6f3f9;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
}

.checkout-page img {
    margin-top: 20px;
}
*/