/* 
    Document   : overlay
    Created on : 22-Jan-2013, 15:44:21
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/
#header-shopping-cart {
    background: #d1d1ff;
    cursor: pointer;
    float: right;
    margin-right: 100px;
    padding: 10px;
}

#shopping-cart-information {
    float: left;
    width: 100px;
}

#shopping-cart-information h3 {
    font-size: 12px;
    margin: 0;
}

#shopping-cart-options {
    float: left;
    width: 100px;
}

#shopping-cart-overlay {
    display: none;
    position: absolute;
    top: 80px;
    right: 100px;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 3px;
    z-index: 100;
    cursor: pointer;
    padding-bottom: 15px;
    box-shadow: 0px 0px 8px #888888;
}

.header-shopping-cart-product {
    padding: 15px 15px 0;
}

.header-shopping-cart-product .left {
    float: left;
}

.header-shopping-cart-product-image {
    height: 48px;
    width: 48px;
}

.header-shopping-cart-product .right {
    float: left;
}

.product-quantity {
    width: 30px;
}
