/* 
    Document   : header_login_box
    Created on : 05-Feb-2013, 10:05:17
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/

#header-login-box {
    background: #eeeedd;
    float: left;
    padding: 15px;
}
