/* 
    Document   : login
    Created on : 12-Feb-2013, 16:56:26
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/
.register-page #container,
.login-page #container {
    background: #faf9fc;
    overflow: hidden;
}

.register-page #left {
    float: left;
}

.register-page #right {
    float: left;
    margin-left: 100px;
}

.login-page h3 {
    margin-bottom: 20px;
}

.register-page h2 {
    margin-bottom: 10px;
}

.register-page label,
.login-page label {
    display: block;
    float: left;
    font-weight: bold;
    margin: 3px 0;
    width: 90px;
}

.register-page #submit,
.login-page #submit {
    clear: both;
    display: block;
    margin-bottom: 0;
}

.register-page input {
    
}

.login-page input {
    margin-bottom: 10px;
}

.register-page #submit {
    margin-left: 182px;

}
.login-page #submit {
    margin-left: 199px;
}

.register-page .message {
/*    background: rgb(241, 229, 255);
    border: 1px solid rgb(211, 192, 233);
    border-radius: 3px;*/
    color: #b09fc5;
    font-size: 11px;
    margin-bottom: 10px;
/*    padding: 3px 5px;*/
}

/* === HTML5 validation styles === */	
.wrapper-register input:required, .wrapper-register textarea:required {
    background: #fff url(../image/product/none/red_asterisk.png) no-repeat 98% center;
}

.wrapper-register input:required:valid, .wrapper-register textarea:required:valid {
    background: #fff url(../image/product/none/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.wrapper-register input:focus:invalid, .wrapper-register textarea:focus:invalid {
    background: #fff url(../image/product/none/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}
