/* 
    Document   : layout.css
    Created on : 22-Jan-2013, 15:09:59
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/
html {
    height: 100%;
}

#wrapper {
    height: auto !important;
    height: 100%;    
    min-height: 100%;
    margin: 0 auto -17px;    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0;
}

a {
    color: #643698;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
}

h2 {
    color: #b09fc5;
    margin: 0;
    padding: 0;
}

h3 {
    color: #b09fc5;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0;
}

h4 {
    font-size: 12px;
    font-weight: bold;
    margin: 0;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.standard-button {
    background: rgb(151, 151, 213);
    border: 1px solid rgb(111, 111, 211);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 0;
    padding: 3px 8px;    
}

/* TODO: Get rid of this anchor and make it a submit? */
a.standard-button:hover {
    text-decoration: none;
}

#no-page #content {

}

#left-right-sidebar-page #content {
    float: left;
    width: 544px;
}

#right-sidebar-page #content {
    float: left;
    width: 704px;
}

#content-inner {
    background: #f6f3f9;
    margin: 10px;
    overflow: hidden;
    padding: 10px;    
}

#content-header {
    background: #b8b0c8;
    height: 50px;
    padding: 0px 10px;
}

#content-header h1 {
    color: #ffffff;
    float: left;
    padding-top: 10px;
}

#container {
    margin: 30px auto 0;
    width: 960px;
}

.smaller-container #container {
    width: 760px;
}

#page-title {
    float: left;
    margin-left: 30px;
    padding: 10px;
}

#footer {
    background-color: #fff1f1;
}

/**
 * Header
*/
#header {
    /*background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(156, 140, 170)), to(rgb(113, 97, 126)));*/
    background-image: url(../image/icon/banner.png);
    overflow: hidden;
}

#header-content {
    margin: 0 auto;
    width: 960px;
}

#header-content img {
    float: left;
    margin-top: 13px;
    margin-left: 30px;
}

#site-title {
    background: url(/onemore-web/image/icon/onemore_logo.png) no-repeat 10px 10px;
    color: #ffffff;
    float: left;
    font-size: 30px;
    margin: 0 auto;
    padding: 20px 20px 20px 85px;
}

#site-title:hover {
    text-decoration: none;
}

#site-tagline {
    color: rgb(212, 199, 223);
    font-size: 12px;
    font-weight: bold;
}

#login-box {
    float: right;
}

/**
 * Footer
*/
#footer {
    background: #b8b0c8;
    border-top: 10px solid rgb(244, 237, 250);
    color: white;    
    font-family: Segoe UI, Tahoma, Arial, Helvetica, Sans-Serif;
    height: 17px;
    margin: 50px 0 0;
    padding: 10px 0;
    text-align: center;    
}

#footer h3 {
    display: inline;
    padding: 0 20px;
}

/**
 * Navbar
*/
#navbar {
    background: #eeeeee;
    overflow: hidden;
}

#navbar ul {
    margin: 0 auto;
    width: 960px;
}

#navbar a {
    float: left;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    width: 160px;
}

#navbar a:hover {
    background: #dddddd;
    text-decoration: none;
}

/**
 * Login box
*/
#not-logged-in a {
    background: rgb(218, 195, 245);
    border: 5px solid rgb(196, 170, 226);
    border-top: none;
    display: block;
    float: right;
    font-weight: bold;
    padding: 10px 20px;
}

#not-logged-in a:hover {
    background: rgb(232, 217, 250);
    text-decoration: none;
}

#logged-in {
    color: rgb(212, 199, 223);
    float: right;
    margin-top: 5px;
    width: 208px;
}

#logged-in .name {
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
}

#logged-in a {
    float: left;
    font-weight: bold;
    padding: 5px 12px;
    background: rgb(188, 173, 206);
    margin-top: 5px;
}

#logged-in a:hover {
    background: rgb(232, 217, 250);
    text-decoration: none;
}

/**
 * FAQ, Terms and Conditions, Delivery Options, My Details
*/ 
#faq-list, #terms-and-conditions, #delivery-options {
    margin: 10px;
    padding: 15px;
    background: #f6f3f9;
}

#faq-border, #terms-and-conditions-border, #delivery-options-border {
    background: #faf9fc;
    overflow: hidden;
}

b {
    color: #71617E;
    font-size: 16px;
}

#wrapper-user-details {
    line-height: 130%;
}

#wrapper-address-all {
    background: #b09fc5;
    overflow: hidden;
}

.wrapper-address-box {
    float: left;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 120%;
    background: #f6f3f9;
    margin: 10px 10px 10px 10px;  
    width: 195px;
}
