/* 
    Document   : newproduct
    Created on : 07-Feb-2013, 20:21:57
    Author     : c.loughnane1@nuigalway.ie - 09101916
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.wrapper-product-input-details, .wrapper-user-input-details,.wrapper-amend-product-input-details {
    background-color: #f6f3f9;
    padding: 10px 0 0 50px;
    height: auto;
}

.user-details-fix {
    padding-top: 10px;
}

.wrapper-product-input-details input, .wrapper-amend-product-input-details input{
    border: 1px solid black;
    height: 22px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;  
    font-size: 20px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.wrapper-product-input-details textarea {
    border: 1px solid black;
    height: 52px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;  
    font-size: 20px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.wrapper-product-input-details input:focus {
    outline: none;
    box-shadow: 0px 0px 17px grey;
    border-color: grey;
}

.wrapper-product-input-details textarea:focus {
    outline: none;
    box-shadow: 0px 0px 17px grey;
    border-color: grey;
}

textarea{
    font-family: Segoe UI, Tahoma, Arial, Helvetica, Sans-Serif;
    font-weight: 600;
    max-width: 220px; 
}

.contant-form-textarea {
    max-height: 350px;
    min-height: 250px;
}

.wrapper-product-input-details select {
    border: 1px solid black;
    height: 32px;
    width: 263px;
    /* border-radius: 5px;  */
    font-size: 18px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.product-name-select-menu:focus
{ 
    background-color: #b8b0c8;
}

.wrapper-product-input-details .button-register-details {
    border: 1px solid black;
    height: 32px;
    width: 262px;
    border-radius: 5px;  
    font-size: 14px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.button-add-to-shop:hover {
    outline: none;
    box-shadow: 0px 0px 17px grey;
    border-color: grey;
}






/* FOR AMEND PRODUCT HANDLING */

.wrapper-amend-product-input-details textarea {
    border: 1px solid black;
    height: 52px;
    width: 250px;
    padding: 5px;
    border-radius: 5px;  
    font-size: 20px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.wrapper-amend-product-input-details input:focus {
    outline: none;
    box-shadow: 0px 0px 17px grey;
    border-color: grey;
}

.wrapper-amend-product-input-details textarea:focus {
    outline: none;
    box-shadow: 0px 0px 17px grey;
    border-color: grey;
}

.wrapper-amend-product-input-details select {
    border: 1px solid black;
    height: 32px;
    width: 263px;
    /* border-radius: 5px;  */
    font-size: 18px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

.wrapper-amend-product-input-details .button-register-details {
    border: 1px solid black;
    height: 32px;
    width: 262px;
    border-radius: 5px;  
    font-size: 14px;
    transition:.2s linear;
    -webkit-transition:.2s linear;
    -moz-transition:.2s linear;
    margin-top: 5px;
}

/* === Remove input autofocus webkit === */
*:focus {outline: none;}

/* === Form Typography === */
/* body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}*/
.contact_form h2, .contact_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

/* === List Styles === */
.contact_form ul {
    width:615px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact-form ul {
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}

.contact_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
} 
.contact_form li:first-child, .contact_form li:last-child {
    border-bottom:1px solid #777;
}

/* === Form Header === */
.contact_form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252; 
    margin:5px 0 0 0; 
    display:inline;
    float:right;
}

/* === Form Elements === */
.contact_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.contact_form input {
    height:20px; 
    width:220px; 
    padding:5px 8px;
}
.contact_form textarea {padding:8px; width:300px;}
.contact_form button {margin-left:220px;}

/* form element visual styles */
.contact_form input, .contact_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}
.contact_form input:focus, .contact_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
    padding-right:70px;
}

/* === HTML5 validation styles === */	
.contact_form input:required, .contact_form textarea:required {
    background: #fff url(../image/product/none/red_asterisk.png) no-repeat 98% center;
}

.contact_form input[type="number"]:required {
    background: #fff url(../image/product/none/red_asterisk.png) no-repeat 92% center;
}

.contact_form input:required:valid, .contact_form textarea:required:valid {
    background: #fff url(../image/product/none/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.contact_form input[type="number"]:required:valid {
    background: #fff url(../image/product/none/valid.png) no-repeat 92% center;
}

.contact_form input:focus:invalid, .contact_form textarea:focus:invalid {
    background: #fff url(../image/product/none/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.contact_form input[type="number"]:focus:invalid {
    background: #fff url(../image/product/none/invalid.png) no-repeat 92% center;
}

/* === Form hints === */
.form_hint {
    background: #d45252;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    display: none;
}
.form_hint::before {
    content: "\25C0";
    color:#d45252;
    position: absolute;
    top:1px;
    left:-6px;
}
.contact_form input:focus + .form_hint {display: inline;}
.contact_form input:required:valid + .form_hint {background: #28921f;}
.contact_form input:required:valid + .form_hint::before {color:#28921f;}

/* === Button Style === */
button.submit, button {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#b8b0c8), to(#a5a5a5));
    background: -webkit-linear-gradient(top, #b8b0c8, #a5a5a5);
    background: -moz-linear-gradient(top, #b8b0c8, #a5a5a5);
    background: -ms-linear-gradient(top, #b8b0c8, #a5a5a5);
    background: -o-linear-gradient(top, #b8b0c8, #a5a5a5);
    background: linear-gradient(top, #b8b0c8, #a5a5a5);
    border: 1px solid #a5a5a5;
    border-bottom: 1px solid #b8b0c8;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #a5a5a5;
    -webkit-box-shadow: 0 1px 0 0 #a5a5a5 inset ;
    -moz-box-shadow: 0 1px 0 0 #a5a5a5 inset;
    -ms-box-shadow: 0 1px 0 0 #a5a5a5 inset;
    -o-box-shadow: 0 1px 0 0 #a5a5a5 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #a5a5a5;
}
button.submit:hover, button:hover {
    opacity:.85;
    cursor: pointer; 
}

button.submit:active, button:active {
    border: 1px solid #a5a5a5;
    box-shadow: 0 0 10px 5px #b8b0c8 inset; 
    -webkit-box-shadow:0 0 10px 5px #b8b0c8 inset ;
    -moz-box-shadow: 0 0 10px 5px #b8b0c8 inset;
    -ms-box-shadow: 0 0 10px 5px #b8b0c8 inset;
    -o-box-shadow: 0 0 10px 5px #b8b0c8 inset;

}

.content-product-handling {
    display: inline-block;
    float: left;
    width: 100%;
}

.button-amend-product, .button-add-product, .button-seperator, .button-add-address, .button-change-user-details {
    cursor: pointer;
    color: white;
    float: right;
    font-size: 2em;
    -webkit-margin-before: 0.55em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.button-amend-product:hover, .button-add-product:hover, .button-add-address:hover, .button-change-user-details:hover {
    color: graytext;
}

.amend-display-item {
    position: relative;
    top: -450px;
    left: 530px;
    height: 150px;
    width: 100px;
    background-repeat: no-repeat;
}

.amend-success-notification, .add-success-notification, .contact-success-notification {
    position: relative;
    height: 50px;
    width: 100px;
    width: 100px;
    background: url(../image/product/none/correct-mark-done.png) no-repeat center;
    /*background-repeat: no-repeat;*/
}

.amend-success-notification {
    top: -210px;
    left: 300px;
}

.add-success-notification {
    top: -65px;
    left: 290px;
}

.contact-success-notification {
    top: -65px;
    left: 290px;
}

.contact-form-fix {
    position: relative;
}

.contact_form button.details-fix{
    margin-left: 0px;
}
