/**
 * Product listing page content section
*/
#content-header-selects {
    color: #ffffff;    
    float: right;
    font-size: 11px;
    padding-top: 15px;
}

#content-header-selects select {
    font-size: 11px;
}

.product {
    margin-bottom: 5px;
    overflow: hidden;
}

.product .details {
    background: rgb(247, 244, 255); /* #faf9fc; */
    float: left;
    height: 100px;
    padding: 10px;
    position: relative;
    width: 309px;
}

.product .title {
    display: block;
    font-size: 15px;
    font-weight: bold;
    width: 200px;
}

.product-image {
    float: left;
    overflow: hidden;
    width: 70px;
}

.product .rateit {
    position: absolute;
    right: 15px;
    top: 10px;
}

.in-stock,
.low-stock {
    font-size: 11px;
}

.low-stock {
    color: #aa0000;
}

.in-stock {
    color: #00aa00;
}

.product .details img {
    float: left;
    margin-right: 10px;
}

.product-page #content .quantity,
.product .quantity {
    background: rgb(244, 237, 250); /* #f6f3f9; */
    float: right;
    height: 100px;
    padding: 10px;
    position: relative;
    width: 190px;    
}

.product-page #content .quantity .price,
.product .price {
    font-size: 13px;
    font-weight: bold;
}

.product-page .quantity label,
.product .quantity label {
    display: block;
    font-size: 10px;
}

.decrease-quantity,
.increase-quantity {
    background: #d1d1ff;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin-top: 3px;
    text-align: center;
    width: 20px;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.product-page .quantity .textbox,
.product .quantity .textbox {
    display: block;
    float: left;
    text-align: center;
}

.add-to-cart {
    float: right;
    margin-left: 20px;
}

input.add-to-wishlist {
    background: rgb(229, 229, 245);
    border: 1px solid rgb(197, 197, 236);
    bottom: 10px;
    color: rgb(71, 71, 71);    
    font-size: 11px;
    font-weight: normal;
    padding: 2px 6px;
    position: absolute;
    right: 10px;
}

#no-products {
    background: rgb(247, 244, 255);
    padding: 10px;
}

/**
 * Product filter sidebar
*/
#product-filter-sidebar {
    background: #e5e5e5;
    float: left;
    padding: 5px;
    width: 150px;
}

#product-filter-sidebar h2 {
    background: #a5a5a5;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    padding: 5px;
}

#product-filter-sidebar li {
    margin-bottom: 5px;
}

#product-filter-sidebar li:hover {
    background: #f1f1f1;
}

#product-filter-sidebar span {
    cursor: pointer;
    display: block;
    padding: 3px 0 3px 16px;
    text-transform: capitalize;
}

#product-filter-sidebar .selected span {
    background: url("/onemore-web/image/icon/tick.png") no-repeat 0 2px;
}

/**
 * Pagination on the products page
*/
#showing-results {
    background: rgb(247, 244, 255);
    float: left;
    padding: 6px 11px;
}

#pagination {
    background: rgb(247, 244, 255); /* #faf9fc; */
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    overflow: hidden;
}

#pagination li {
    border: 1px solid #faf9fc;
    color: #643698;
    cursor: pointer;
    display: block;
    float: left;
    padding: 5px 10px;
}

#pagination li:hover {
    background: rgb(244, 237, 250); /* #f6f3f9; */
    border: 1px solid rgb(230, 221, 248); /* 1px solid rgb(226, 211, 241); */
    text-decoration: none;
}

#pagination .selected,
#pagination #dots {
    border: 1px solid #faf9fc;
    display: block;
    float: left;
    font-weight: bold;
    padding: 5px 10px; 
}

#pagination li.selected:hover,
#pagination li#start-dots:hover,
#pagination li#end-dots:hover {
    background: #faf9fc;
    border: 1px solid #faf9fc;
    cursor: auto;
}

/**
 * Specific styling for individual product pages
*/
.product-page #details {
    background: rgb(247, 244, 255); /* #faf9fc; */
    float: left;
    padding: 20px 10px 10px;
    width: 469px;
}


.product-page #average-rating {
    float: right;
}

.product-page #details img {
    float: left;
    margin-right: 10px;
}

#reviews {
    clear: both;
    margin-top: 50px;
}

/**
 * Reviews
*/
#reviews h2 {
    margin: 5px;
}

.review {
    background: rgb(244, 237, 250); /* #f6f3f9; */
    border-bottom: 1px solid rgb(230, 221, 248); /* 1px solid #eae2fa; */
    margin-bottom: 10px;
    padding: 10px 10px 0;
    position: relative;
}

.review .rateit {
    position: absolute;
    right: 10px;
    top: 10px;
}

.review-user {
    color: #666666;
    font-size: 11px;
}

/**
 * Add review form
*/
#reviews label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

#review-title {
    width: 400px;
}

#review-body {
    width: 400px;
}

#add-review-form {
    margin: 30px 0 0 10px;
}

#review-button {
    float: none;
    margin-top: 10px;
}

/**
 * Checkout
*/
.checkout-page #container {
    background: #faf9fc;
    overflow: hidden;
}

#wrapper-checkout {
    background: #f6f3f9;
    margin: 10px;
    overflow: hidden;
    padding: 10px;
}
