#customer-report-form, #customer-report-results, #customer-report-statistic {
    background: #E6EAE9;
}

#customer-report-form {
    float: left;
    width: 100%;
}

#customer-report-statistic {
    float: left;
    text-align: left;
    width: 386px;
    height: 275px;
}

#customer-report-results {
    padding: 20px;
    display: inline-block;
    width: 100%;
}

.customer-report-form-table {

}

.customer-report-statistic-table {

}

.customer-report-results-table {
    width: 100%;
}