/* 
    Document   : shopping_cart_sidebar
    Created on : 09-Feb-2013, 20:31:11
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/

#shopping-cart-sidebar {
    float: right;
    min-height: 200px;
    position: relative;
    width: 256px;
}

#shopping-cart {
    background: rgb(247, 244, 255); /* #faf9fc; */
    border: 5px solid #e4e4fa;
    margin: 0 0 0 20px;
    padding: 5px;
    position: fixed;
    width: 216px;
}

#shopping-cart h2 {
    color: #000000;
    font-size: 15px;
    margin: 5px 0 10px;
}

#shopping-cart table {
    border-collapse: collapse;
    font-size: 11px;
    table-layout: fixed;
    width: 100%;
}

#shopping-cart thead {
    width: 100%;
}

#shopping-cart thead tr {
    background: rgb(244, 237, 250); /* #f6f3f9; */
    border-bottom: none;
}

#shopping-cart tr {
    background: #ffffff;
    border-bottom: 1px solid #dddddd;
}

#shopping-cart th {
    text-align: left;
    padding: 5px 3px;    
}

#shopping-cart th.quantity {
    text-align: left;
    width: 72px;
}

#shopping-cart th.product {
    width: 77px;
}

#shopping-cart th.price {
    width: 33px;
}

#shopping-cart td {
    padding: 8px 3px;
    text-align: left; 
}

#shopping-cart .quantity-cell {
    width: 20px;
}

#shopping-cart .quantity {
    text-align: center;
}

#shopping-cart .remove {
    color: #aa0000;
    cursor: pointer;
    text-align: center; 
}

#shopping-cart .remove:hover {
    background: #ffe8e8;
}

#shopping-cart-total {
    background: rgb(244, 237, 250);
    border-bottom: 1px solid #dddddd;    
    text-align: right;
    font-weight: bold;
    padding: 10px 20px;

}
#checkout-button {
    float: right;
    margin-top: 12px;
}