/* 
    Document   : shopping_cart_produt
    Created on : 09-Feb-2013, 19:04:12
    Author     : Brian
    Description:
        Purpose of the stylesheet follows.
*/

#shopping-cart {
    float: left;
    width: 760px;
}

.shopping-cart-row {
    border-top: 1px solid #dddddd;
    padding-bottom: 10px;
    min-height: 100px;
    position: relative;
}

.shopping-cart-row .product-image {
    position: absolute;
    top: 10px;
}

.shopping-cart-row .details {
    margin: 10px 0 20px 110px;
    position: relative;
}

.shopping-cart-row .title {
    font-size: 16px;
    font-weight: bold;
    margin: 5px 200px 5px 0;
}    

.shopping-cart-row .price {
    margin: 5px 0;
    position: absolute;
    right: 110px;
    text-align: right;
    top: 0px;
}

.shopping-cart-row .quantity {
    margin: 5px 0;
    position: absolute;
    right: 20px;
    top: 0px;    
}

.in-stock {
    color: #00aa00;
}

.not-in-stock {
    color: #aa0000;
}